# Validate JSON schema files
# Source: https://github.com/dsanders11/json-schema-validate-action
# Forked from: https://github.com/marketplace/actions/json-schema-validate
name: Validate JSON schemas for assets and materials

on:
  pull_request:
    paths:
      - 'examples/**'
      - 'schemas/**'

jobs:
  validate-github-actions-workflows:
    name: JSON schema validation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v1

      - name: Validate asset JSON schemas
        uses: dsanders11/json-schema-validate-action@v1.2.0
        with:
         schema: ./schemas/asset_schema.json
         files: ./examples/*.xoma

      - name: Validate material JSON schemas
        uses: dsanders11/json-schema-validate-action@v1.2.0
        with:
          schema: ./schemas/material_schema.json
          files: ./examples/*.xomp

      - name: Validate electromagnetic material properties JSON schemas
        uses: dsanders11/json-schema-validate-action@v1.2.0
        with:
          schema: ./schemas/material_emp_schema.json
          files: ./examples/*_emp.xompt
