# Validate JSON schema files
# Source: https://github.com/GrantBirki/json-yaml-validate
# Forked from: https://github.com/marketplace/actions/json-yaml-validate
name: Validate JSON schemas for assets and materials

on:
  pull_request:
    paths:
      - 'examples/**'
      - 'schemas/**'

jobs:
  json-yaml-validate:
    name: JSON schema validation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate asset JSON schemas
        uses: GrantBirki/json-yaml-validate@v3.2.1
        with:
          files: ./examples/*.xoma
          json_schema: ./schemas/asset_schema.json

      - name: Validate material JSON schemas
        uses: GrantBirki/json-yaml-validate@v3.2.1
        with:
          files: ./examples/*.xomp
          json_schema: ./schemas/material_schema.json

      - name: Validate electromagnetic material properties JSON schemas
        uses: GrantBirki/json-yaml-validate@v3.2.1
        with:
          files: ./examples/*_emp.xompt
          json_schema: ./schemas/material_emp_schema.json